{% extends "base.html" %}


{% block content %}

<div class="container-fluid">

    <div class="row home-section-row d-flex align-items-center">
        <div class=" col-md-6 ps-5">
            <h2 class="home-text-1"> Sell your car fast at <br> <span class="spec-home-text">best price!</span>
            </h2>
            <p class="home-text-2"> Get your new ride today! Or feel free to contact us regarding your needs and we’ll be happy to assist you!</p>

            <div class="d-flex gap-3 mt-5">
                <button class="home-btn-1">View Vehicals</button>
                <button class="home-btn-1">Contact Us</button>
            </div>

        </div>

        <div class="col-md-6 home-right-col p-0">
            <img class="homecar" src="../static/Images/homeCar.webp" alt="">
        </div>

    </div>


</div>

{% endblock %}