{% extends "base.html" %}


{% block content %}

<div class="container mt-3">

    <h2 class="">Used Card</h2>
    <hr>

    <div class="row mt-5">
        <div class="col-md-3"><div class="card" style="width: 18rem;">
            <img src="../static/Images/honda-civic.webp" class="card-img-top car-card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Honda Civic I-vtec</h5>

                <h5 class="card-title">Rs 40,0000</h5>
                
              <div class="row mt-4">

                  <div class="d-flex d-flex align-items-center gap-2 col-md-6">
                    <i class="fa-regular fa-calendar"></i>
                    <p class="m-0">2014</p>
                  </div>
    
                  <div class="d-flex d-flex align-items-center gap-2 col-md-6">
                    <i class="fa-solid fa-gauge"></i>
                    <p class="m-0">34000 Km</p>
                  </div>

              </div>
              


              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div></div>
        <div class="col-md-3"><div class="card" style="width: 18rem;">
            <img src="../static/Images/honda-civic.webp" class="card-img-top car-card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Honda Civic I-vtec</h5>

                <h5 class="card-title">Rs 40,0000</h5>
                
              <div class="row mt-4">

                  <div class="d-flex d-flex align-items-center gap-2 col-md-6">
                    <i class="fa-regular fa-calendar"></i>
                    <p class="m-0">2014</p>
                  </div>
    
                  <div class="d-flex d-flex align-items-center gap-2 col-md-6">
                    <i class="fa-solid fa-gauge"></i>
                    <p class="m-0">34000 Km</p>
                  </div>

              </div>
              


              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div></div>
        <div class="col-md-3"><div class="card" style="width: 18rem;">
            <img src="../static/Images/honda-civic.webp" class="card-img-top car-card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Honda Civic I-vtec</h5>

                <h5 class="card-title">Rs 40,0000</h5>
                
              <div class="row mt-4">

                  <div class="d-flex d-flex align-items-center gap-2 col-md-6">
                    <i class="fa-regular fa-calendar"></i>
                    <p class="m-0">2014</p>
                  </div>
    
                  <div class="d-flex d-flex align-items-center gap-2 col-md-6">
                    <i class="fa-solid fa-gauge"></i>
                    <p class="m-0">34000 Km</p>
                  </div>

              </div>
              


              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div></div>
        <div class="col-md-3"><div class="card" style="width: 18rem;">
            <img src="../static/Images/honda-civic.webp" class="card-img-top car-card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Honda Civic I-vtec</h5>

                <h5 class="card-title">Rs 40,0000</h5>
                
              <div class="row mt-4">

                  <div class="d-flex d-flex align-items-center gap-2 col-md-6">
                    <i class="fa-regular fa-calendar"></i>
                    <p class="m-0">2014</p>
                  </div>
    
                  <div class="d-flex d-flex align-items-center gap-2 col-md-6">
                    <i class="fa-solid fa-gauge"></i>
                    <p class="m-0">34000 Km</p>
                  </div>

              </div>
              


              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
          </div></div>

    </div>



   


</div>

{% endblock %}